@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
/* about section */
.aboutSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
}
.innerAboutSection {
  width: 85%;
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2%;
  /* background-color: lawngreen; */
}
.aboutSection-heading {
  margin: 2% 0 2% 0;
}
.aboutSection-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #1b2050;
  /* background-color: lightblue; */
}
.aboutSection-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  text-align: justify;
  color: #484848;
}
/* Photo section */
.aboutPhotoSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
}
.innerAboutPhotoSection {
  width: 85%;
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2%;
  /* background-color: lawngreen; */
}
.photoSectionHeading {
  margin: 2% 0 3% 0;
}
.photoSectionHeading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  /* background-color: lightblue; */
}
.photoSectionPart {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: lightblue; */
}
.photoSectionPart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.photoSectionPart-topInner,
.photoSectionPart-bottomInner {
  width: 28%;
  position: relative;
  margin-right: 1rem;
  margin-bottom: 2%;
}
.photoSectionPart-text {
  position: absolute;
  bottom: 0;
  left: 3%;
}
.photoSectionPart-text h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #ffffff;
}
.photoSectionPart-text h6::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #2fab73;
  margin-top: 10px;
}
.photoSectionPart-text > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  color: #ffffff;
  /* font-size: 4rem; */
}

.photoSectionPart-topInner img,
.photoSectionPart-bottomInner img {
  width: 100%;
  height: 100%;
}
.photoSectionPart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Responsive tablet view */

@media (max-width: 768px) {
  .aboutSection-heading h1 {
    font-size: 1.8rem;
  }
  .photoSectionHeading h1 {
    font-size: 1.8rem;
  }
  .photoSectionPart-text {
    position: absolute;
    bottom: 0;
    left: 3%;
    /* background-color: lawngreen; */
  }

  .photoSectionPart-text > h6 {
    font-size: 1.3rem;
  }
  .photoSectionPart-text h6::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background-color: #2fab73;
    margin-top: 5px;
  }
  .photoSectionPart-text > p {
    font-size: 0.9rem;
  }
  .photoSectionPart-bottomInner,
  .photoSectionPart-topInner {
    margin-right: 3%;
    width: 35%;
  }
  .photoSectionPart-topInner img,
  .photoSectionPart-bottomInner img {
    width: 120%;
    height: 120%;
    margin-bottom: 2%;
  }
  /* Footer */
  .footerDots {
    display: none;
  }
  .innerFooter {
    flex-direction: column-reverse;
    padding-top: 2rem;
    align-items: center;
  }
  .footerContent {
    width: 80%;
  }
  .footerHeading {
    justify-content: center;
    margin-top: 2%;
  }
  .footerHeading h2 {
    font-size: 1.8rem;
  }
  .footerInfo,
  .copyrights {
    text-align: center;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1.3rem;
  }
  .footerMaps {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany h2 {
    font-size: 1.8rem;
  }
  .footerCompany ul {
    margin-top: 0;
    display: flex;
    padding-left: 0;
  }
  .footerCompany ul li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footerMapImage {
    margin-left: 0;
  }
}

/* Responsive Mobile View */
@media (max-width: 450px) {
  .aboutSection-heading h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .innerAboutPhotoSection {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
  }
  .photoSectionHeading h1 {
    font-size: 1.5rem;
  }
  .photoSectionPart {
    width: 100%;
  }
  .photoSectionPart-top {
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    flex-wrap: wrap;
  }
  .photoSectionPart-text {
    position: absolute;
    bottom: 0;
    left: 3%;
  }
  .photoSectionPart-text > h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
  }
  .photoSectionPart-text h6::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background-color: #2fab73;
    margin-top: 10px;
  }
  .photoSectionPart-text > p {
    font-size: 0.7rem;
  }
  .photoSectionPart-topInner,
  .photoSectionPart-bottomInner {
    width: 55%;
    margin-right: 0;
  }
  .photoSectionPart-topInner img,
  .photoSectionPart-bottomInner img {
    margin-bottom: 2%;
    width: 100%;
  }
  /* Footer */
  .footerHeading {
    margin-top: 4%;
  }
  .footerHeading h2 {
    font-size: 1.5rem;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1rem;
  }
  .footerCompany {
    display: none;
  }
  .footerMapImage {
    display: flex;
    justify-content: center;
  }
  .footerMapImage img {
    width: 100%;
  }
}
