@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* affiliateLanding page */
.affiliateLandingPage {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
}

.inneraffiliateLandingPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  /* background-color: lightgrey; */
}
.affiliateLandingPage-content {
  width: 50%;
  padding-left: 2%;
}
.affiliateLandingPage-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.affiliateLandingPage-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  margin-bottom: 5%;
}
.affiliateLandingPageBtn button {
  width: 40%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10%;
}
.affiliateLandingPageImage {
  background-color: #93c1f9;
  border-bottom-left-radius: 40%;
  padding-bottom: 2%;
  /* width: 100%; */
}

/* earning section */
.earningSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%) !important;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}
.innerEarningSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #cf2626; */
  margin-bottom: 3%;
}
.earningHeading {
  width: 50%;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  margin-bottom: 4%;
}
.earningHeading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
  margin-bottom: 2%;
}
.earningHeading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
  margin-bottom: 3%;
}
.earningForm-part {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-box {
  background: #ffffff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04),
    0px 4px 56px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  padding: 5%;
}
.form-box-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-box-inner h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 2%;
}
form .form-row {
  display: flex;
}
form .form-row div {
  width: 47%;
}
form .form-row div:nth-child(2) {
  margin-left: 6%;
}
.form-start form .form-group {
  margin-top: 3%;
  /* width: 80%; */
}
.form-start form label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #444150;
  margin-bottom: 1%;
}
.form-start form button {
  margin: auto;
  margin-top: 3%;
  width: 50%;
  display: block;
  background: #1b2050;
  border-radius: 6px;
}
.form-start form button:hover {
  background: #222963;
}

/* Responsive tab view */
@media (max-width: 768px) {
  .inneraffiliateLandingPage {
    flex-direction: column-reverse;
  }
  .affiliateLandingPage-content {
    width: 100%;
    padding-right: 8%;
    margin-top: 4%;
  }
  .affiliateLandingPage-heading h1 {
    line-height: 120%;
    font-size: 1.7rem;
  }
  .affiliateLandingPage-heading p {
    font-size: 0.5rem;
  }
  .affiliateLandingPageBtn button {
    width: 30%;
  }
  .earningHeading {
    width: 100%;
  }
  .earningHeading h1 {
    font-size: 1.7rem !important;
  }
  .earningHeading p {
    padding: 0 15%;
    font-size: 0.5rem;
  }
  .form-box-inner h2 {
    font-size: 1.7rem;
  }
  .affiliateLandingPageImage img {
    width: 100%;
    height: 50vh !important;
  }
  .affiliateLandingPageImage {
    width: 100%;
    height: 50%;
  }
}
/* Responsive Mobile view */
@media (max-width: 450px) {
  .affiliateLandingPageImage img {
    width: 100%;
  }

  .affiliateLandingPage-content {
    width: 100%;
    padding-right: 8%;
    margin-top: 4%;
  }
  .affiliateLandingPage-heading h1 {
    line-height: 120%;
    font-size: 1.5rem;
  }
  .affiliateLandingPage-heading p {
    font-size: 0.3rem;
  }
  .affiliateLandingPageBtn {
    display: flex;
    justify-content: center;
  }
  .affiliateLandingPageBtn button {
    width: 50%;
  }
  .earningHeading {
    width: 100%;
  }
  .earningHeading h1 {
    font-size: 1.5rem !important;
  }
  .earningHeading p {
    padding: 0 10%;
    font-size: 0.5rem;
    /* font-weight: lighter; */
    line-height: 120%;
    /* display: none; */
  }
  .form-box-inner h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .form-box {
    width: 85%;
  }
  form .form-row {
    flex-direction: column;
  }
  form .form-row div {
    width: 100%;
  }
  form .form-row div:nth-child(2) {
    margin-left: 0;
  }
  .form-start form label {
    font-size: 0.5rem;
  }
  .form-start form button {
    width: 40%;
  }
}
