@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.careerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 2%;
  /* padding-bottom: 4%; */
  /* background-color: hotpink; */
}
.innerCareerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.careerSection-heading {
  /* margin-top: 4%;
  margin-bottom: 3%; */
  text-align: center;
  width: 70%;
}
.careerSection-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 1.2rem;
}
.careerSection-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}
/* .careerSection-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: khaki;
}
.careerSection-content-heading h2 {
  margin-top: 4%;
  margin-bottom: 3%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
}
.careerSection-content-heading h2::after {
  content: "";
  height: 2px;
  width: 100px;
  background-color: #1b2050;
  display: block;
  margin: auto;
  margin-top: 5%;
}
.career-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.position-cards {
  width: 30%;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 2%;
  margin-top: 2%;
  border-radius: 2%;
}
.position-cards .position-cards-heading {
  margin-bottom: 6%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.opening-body p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
}

.statusButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.statusButtons div {
  margin-right: 10px;
}
.statusButtons div:nth-child(1) p {
  padding: 0.3rem 1rem;
  background-color: #1b2050;
  border-radius: 999px;
  font-size: 1rem;
  color: #fff;
}
.statusButtons div:nth-child(2) p {
  padding: 0.3rem 1rem;
  background-color: #fcf2f2;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  color: #1b2050;
} */

/* Responsive tab view */
@media (max-width: 768px) {
  .careerSection-heading h1 {
    font-size: 1.8rem;
  }
  .careerSection-heading p {
    font-size: 1.3rem;
  }
  /* .careerSection-content-heading h2 {
    font-size: 1.7rem;
  } */

  /* .career-cards {
    justify-content: space-around;
  } */
  /* .position-cards {
    width: 55%;
    margin-bottom: 3%;
  } */
  /* .position-cards h2 {
    font-size: 1.4rem;
  }
  .opening-body p {
    font-size: 1.3rem;
    line-height: 150%;
  } */
  /* Footer */
  .footerDots {
    display: none;
  }
  .innerFooter {
    flex-direction: column-reverse;
    padding-top: 2rem;
    align-items: center;
  }
  .footerContent {
    width: 80%;
  }
  .footerHeading {
    justify-content: center;
    margin-top: 2%;
  }
  .footerHeading h2 {
    font-size: 1.8rem;
  }
  .footerInfo,
  .copyrights {
    text-align: center;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1.3rem;
  }
  .footerMaps {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany h2 {
    font-size: 1.8rem;
  }
  .footerCompany ul {
    margin-top: 0;
    display: flex;
    padding-left: 0;
  }
  .footerCompany ul li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footerMapImage {
    margin-left: 0;
  }
}
/* Responsive mobile view */
@media (max-width: 450px) {
  /* body {
    overflow-x: hidden;
  } */
  /* .career-cards {
    justify-content: space-around;
  } */
  /* .position-cards {
    width: 100%;
    margin-bottom: 3%;
  } */
  .careerSection-heading {
    /* margin-top: 6%; */
    width: 80%;
    /* padding: 3px; */
  }
  .careerSection-heading h1 {
    font-size: 1.5rem;
  }
  .careerSection-heading p {
    font-size: 0.8rem;
    width: 95%;
    margin: auto;
    margin-bottom: 1.2rem;
    /* margin-bottom: 1.3rem; */
    /* padding: 10px; */
  }
  /* .careerSection-content-heading {
    margin-top: 6%;
  }
  .careerSection-content-heading h2 {
    font-size: 1.4rem;
  } */

  /* .careerSection-content-heading {
    margin-bottom: 4% !important;
  } */

  /* .careerSection-content-heading h2::after {
    width: 60px;
    margin-top: 3%;
  }
  .position-cards h2 {
    font-size: 1.3rem;
  }
  .opening-body p {
    font-size: 1rem;
    line-height: 150%;
  } */
  /* Footer */
  .footerHeading {
    margin-top: 4%;
  }
  .footerHeading h2 {
    font-size: 1.5rem;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 0.8rem;
  }
  .footerCompany {
    display: none;
  }
  .footerMapImage {
    display: flex;
    justify-content: center;
  }
  .footerMapImage img {
    width: 100%;
  }
}
