@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #e5e5e5; */
}

.mainFaqHeading {
  /* margin-top: 9%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  /* padding-bottom: 5%; */
}
.innerFaqHeading {
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5%; */
}
.innerFaqHeading h1 {
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  color: #1b2050;
  margin-bottom: 1.2rem;
}
.innerFaqHeading p {
  font-family: "Poppins";
  text-transform: uppercase;
  color: #444760;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

/* FAQ  */
.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8%; */
  margin-top: 4%;
  padding-bottom: 5%;
}
.inner_faq {
  width: 73%;
  margin: auto;
  /* background-color: mediumseagreen; */
}
.faq_heading {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.heading_faq {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.heading_faq h2 {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 4rem;
  color: #000;
}
.heading_faq img {
  width: 80px;
}
.faq_heading p {
  font-family: "Poppins";
  color: #999;
  text-align: right;
}
.accordion-item {
  margin-bottom: 20px !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}
.accordion-item button {
  border: none !important;
  outline: none !important;
  background-color: #fff !important;
  background-color: #ffff !important;
  font-weight: 400 !important;
  font-family: "Poppins";
  font-size: 1rem;
  line-height: 150%;
  text-transform: capitalize;
  color: #444760;
}
.accordion-item button:focus {
  border: none !important;
  outline: none;
  background-color: #fff !important;
  color: #172e5e !important;
}
.accordion-button:focus {
  outline: none !important;
  border: none !important;
  border-color: #fff !important;
  box-shadow: none !important;
  background-color: #f37413 !important;
  color: #172e5e;
  font-weight: bold;
}
.accordion-item h2 {
  font-family: "Work Sans" !important;
  font-weight: bold !important;
  font-size: 22px !important;
}
.accordion-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
}

/* Reponsive Tab View */
@media (max-width: 768px) {
  .innerFaqHeading h1 {
    font-size: 1.8rem;
  }
  .innerFaqHeading p {
    font-size: 1.3rem;
  }
  .inner_faq {
    width: 85%;
    /* background-color: blue; */
  }
  .accordion-body {
    font-size: 1rem;
  }
  /* Footer */
  .footerDots {
    display: none;
  }
  .innerFooter {
    flex-direction: column-reverse;
    padding-top: 2rem;
    align-items: center;
  }
  .footerContent {
    width: 80%;
  }
  .footerHeading {
    justify-content: center;
    margin-top: 2%;
  }
  .footerHeading h2 {
    font-size: 1.8rem;
  }
  .footerInfo,
  .copyrights {
    text-align: center;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1.3rem;
  }
  .footerMaps {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany h2 {
    font-size: 1.8rem;
  }
  .footerCompany ul {
    margin-top: 0;
    display: flex;
    padding-left: 0;
  }
  .footerCompany ul li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footerMapImage {
    margin-left: 0;
  }
}

/* Reponsive Mobile View */
@media (max-width: 450px) {
  .innerFaqHeading h1 {
    font-size: 1.5rem;
  }
  .innerFaqHeading p {
    font-size: 0.8rem;
  }
  .inner_faq {
    width: 90%;
  }
  .accordion-item button {
    font-size: 0.9rem;
  }
  .accordion-body {
    font-size: 0.8rem;
  }
  .footerHeading {
    margin-top: 4%;
  }
  .footerHeading h2 {
    font-size: 1.5rem;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1rem;
  }
  .footerCompany {
    display: none;
  }
  .footerMapImage {
    display: flex;
    justify-content: center;
  }
  .footerMapImage img {
    width: 100%;
  }
}
