@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.page-wrapper.stick {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  /* display: none; */
  /* background-color: blue; */
}
/* .logo.logoMargin {
  margin-left: 3%;
} */
/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  position: relative;
  /* position: sticky; */
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
  position: absolute;
  top: 0;
} */

/* NAVIGATION */

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: #000;
}

/* added by me */
.navbar .logo {
  width: 20%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  mix-blend-mode: multiply;
  margin-top: 1%;
  margin-left: 1.8%;
}
.navbar .logo a {
  font-size: 1.8rem;
  font-family: "Poppins";
  font-weight: 700;
}
.navbar .logo img {
  width: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  mix-blend-mode: multiply;
}
/* added by me end */

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
  height: 100%;
}
.navbar ul .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 500;
}
.navbar .nav .nav-item a {
  margin: auto;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.2rem;
  color: #828282;
  text-decoration: none;
}

.navbar .nav .nav-item a::before {
  background: #000;
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.navbar .nav li a.open {
  color: #000;
  font-weight: 400;
}
.navbar .nav li a.open::before {
  background: #000;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.nav-item a:hover {
  color: #3498db !important;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

/* @-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: scroll;
    z-index: 999;
    flex-wrap: nowrap;
  }

  .navbar li {
    padding: 5px;
  }

  .navbar li:first-child {
    margin-top: 0px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
    z-index: 999999 !important;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* logo */
  .navbar .logo {
    width: 43%;
    margin-left: -5%;
    /* padding-left: 4%; */
  }
}

@media (max-width: 450px) {
  .navbar .logo {
    width: 43%;
    margin-left: 4%;
  }
}
