@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
/*value Landing page */
.valueLandingPage {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  /* background-color: lightcoral; */
}

.innerValueLandingPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  /* background-color: lightgrey; */
}
.valueLandingPage-content {
  width: 60%;
  padding-left: 2%;
}
.valueLandingPage-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.valueLandingPage-heading p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  text-align: justify;
  color: #484848;
  margin-bottom: 5%;
}
.valueLandingPageBtn .btn-1 {
  width: 40%;
  height: 60px;
  outline: none;
  border: 2px solid #1b2050;
  background-color: #fff;
  color: #1b2050;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 5%;
}
.valueLandingPageBtn .btn-2 {
  width: 40%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #1b2050;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 0.9rem;
  border-radius: 15px;
  cursor: pointer;
}

/* our partner css */
.ourPartnerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}
.innerOurPartner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3%;
  padding-bottom: 5%;
}
.ourPartner-heading {
  margin-top: 5%;
  margin-bottom: 4%;
}
.ourPartner-heading h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  color: #1b2050;
}

.ourPartner-icon {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2%;
  /* background-color: tomato; */
}
.ourPartner-icon-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blueviolet; */
}
.ourPartner-icon-cards div:nth-child(1) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #ffecec;
}
.ourPartner-icon-cards h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  color: #333333;
  width: 75%;
  margin-top: 5%;
}
/* info graphi section */
.infoGraphSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fdfbfb 0%, #eceeef 99.99%, #ebedee 100%);
  padding-bottom: 3%;
}
.inner-infoGraph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: hotpink !important; */
}
.infoGraph-heading {
  margin-top: 5%;
  margin-bottom: 3%;
  /* background-color: indianred; */
}
.infoGraph-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.infoGraph-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lawngreen; */
}
.infoGraph-content img {
  height: 80rem !important;
}

/* Why Partner with us  */

.mainPartnerWithUs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 10%;
}
.innerPartnerWithUs {
  width: 92%;
  position: relative;
}
.straightLine {
  position: absolute;
  width: 3px;
  height: 60%;
  background-color: #2fab73;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.straightLine span:nth-child(1) {
  width: 20px;
  height: 20px;
  border: 2px solid #2fab73;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -8px;
}
.straightLine span:nth-child(2) {
  width: 20px;
  height: 20px;
  border: 2px solid #2fab73;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -8px;
  overflow: hidden;
  background-color: #fff;
}
.straightLine span:nth-child(3) {
  width: 20px;
  height: 20px;
  border: 2px solid #2fab73;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: -8px;
}
.partnerHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-family: "Poppins";
  font-weight: 600;
  text-transform: capitalize;
}
.partnerHeading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  color: #1b2050;
}
.partnerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
}
.partnerText,
.partnerImage {
  width: 50%;
  padding: 1.5rem;
}
.partnerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.partnerImage img {
  width: 65%;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.partnerText h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #1b2050;
  margin-bottom: 4%;
}
.partnerText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
  margin-bottom: 5%;
  width: 80%;
}
.partnerText ul {
  margin: 2rem 0;
}
.partnerText ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 167.5%;
  color: #484848;
}

/* Responsive Tab View */
@media (max-width: 768px) {
  /*value Landing page */
  .innerValueLandingPage {
    flex-direction: column;
    padding-right: 0;
  }
  .valueLandingPage-content {
    padding-left: 0;
    margin-top: 3%;
    width: 100%;
    padding: 5%;
  }
  .valueLandingPage-heading h1 {
    font-size: 1.8rem;
  }
  .valueLandingPage-heading p {
    font-size: 1.3rem;
  }
  .valueLandingPageBtn .btn-1,
  .valueLandingPageBtn .btn-2 {
    width: 30%;
  }
  .valueLandingPageImage {
    display: flex;
    justify-content: center;
  }
  .valueLandingPageImage img {
    height: 45vh;
  }

  /* our partner css */
  .ourPartner-heading h1 {
    font-size: 1.8rem;
  }
  .ourPartner-icon {
    justify-content: space-evenly;
    padding: 0;
  }
  .ourPartner-icon-cards {
    width: 40%;
    margin-bottom: 3%;
  }
  .ourPartner-icon-cards h6 {
    font-size: 0.9rem;
  }

  /* info graphi section */
  .infoGraph-heading h1 {
    font-size: 1.8rem;
  }
  .infoGraph-content img {
    height: 60rem !important;
  }

  /* Why Partner with us  */
  .partnerHeading {
    margin-bottom: 2%;
  }
  .partnerHeading h1 {
    font-size: 1.8rem;
  }
  .mainPartnersCards .partnerCard:nth-child(1) {
    flex-direction: column-reverse;
    align-items: unset;
    /* background-color: tomato; */
  }
  .mainPartnersCards .partnerCard:nth-child(2) {
    flex-direction: column;
    align-items: unset;
    /* background-color: fuchsia; */
  }
  .mainPartnersCards .partnerCard:nth-child(3) {
    flex-direction: column-reverse;
    align-items: unset;
    /* background-color: gray; */
  }
  .partnerText,
  .partnerImage {
    width: 100%;
    padding: 1.5rem;
  }
  .partnerImage {
    padding: 0.5rem;
  }
  .partnerImage img {
    width: 80%;
  }
  .partnerText p {
    width: 100%;
    font-size: 1.3rem;
  }
  /* Footer */
  .footerDots {
    display: none;
  }
  .innerFooter {
    flex-direction: column-reverse;
    padding-top: 2rem;
    align-items: center;
  }
  .footerContent {
    width: 80%;
  }
  .footerHeading {
    justify-content: center;
    margin-top: 2%;
  }
  .footerHeading h2 {
    font-size: 1.8rem;
  }
  .footerInfo,
  .copyrights {
    text-align: center;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1.3rem;
  }
  .footerMaps {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerCompany h2 {
    font-size: 1.8rem;
  }
  .footerCompany ul {
    margin-top: 0;
    display: flex;
    padding-left: 0;
  }
  .footerCompany ul li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footerMapImage {
    margin-left: 0;
  }
}

/* Responsive Mobile View */
@media (max-width: 450px) {
  /*value Landing page */
  .innerValueLandingPage {
    flex-direction: column;
    padding-right: 0;
  }
  .valueLandingPage-content {
    padding-left: 0;
    margin-top: 3%;
    width: 100%;
    padding: 5%;
  }
  .valueLandingPage-heading h1 {
    font-size: 1.5rem;
  }
  .valueLandingPage-heading p {
    font-size: 0.8rem;
  }
  .valueLandingPageBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .valueLandingPageBtn .btn-1 {
    margin: 0;
    margin-bottom: 3%;
    display: none;
  }
  .valueLandingPageBtn .btn-1,
  .valueLandingPageBtn .btn-2 {
    /* width: 58%; */
  }
  .valueLandingPageBtn .btn-2 {
    width: 38% !important;
    height: 40px !important;
    font-size: 0.6rem !important;
  }
  .valueLandingPageImage {
    display: flex;
    justify-content: center;
  }
  .valueLandingPageImage img {
    height: 40vh;
  }

  /* our partner css */
  .ourPartner-heading h1 {
    font-size: 1.5rem;
  }
  .ourPartner-icon {
    flex-direction: column;
  }
  .ourPartner-icon-cards {
    width: 100%;
    margin-bottom: 3%;
    /* background-color: greenyellow; */
  }
  .ourPartner-icon-cards h6 {
    font-size: 0.8rem;
    text-align: center;
  }

  /* info graphi section */
  .infoGraph-heading {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
  .infoGraph-heading h1 {
    font-size: 1.5rem;
  }
  .infoGraph-content {
    width: 95%;
  }
  .infoGraph-content img {
    height: 40rem !important;
    width: 100%;
  }

  /* Why Partner with us  */
  .partnerHeading {
    margin-bottom: 2%;
  }
  .partnerHeading h1 {
    font-size: 1.5rem;
  }
  .mainPartnersCards .partnerCard:nth-child(1) {
    flex-direction: column-reverse;
    align-items: unset;
    /* background-color: tomato; */
  }
  .mainPartnersCards .partnerCard:nth-child(2) {
    flex-direction: column;
    align-items: unset;
    /* background-color: fuchsia; */
  }
  .mainPartnersCards .partnerCard:nth-child(3) {
    flex-direction: column-reverse;
    align-items: unset;
    /* background-color: gray; */
  }
  .partnerText,
  .partnerImage {
    width: 100%;
    padding: 1.5rem;
  }
  .partnerImage {
    padding: 0.5rem;
  }
  .partnerImage img {
    width: 85%;
  }
  .partnerText p {
    font-size: 0.8rem;
  }
  .partnerText h4 {
    font-size: 1.3rem;
  }
  .mainPartnerWithUs {
    margin-bottom: 2%;
  }
  .footerHeading {
    margin-top: 4%;
  }
  .footerHeading h2 {
    font-size: 1.5rem;
  }
  .footerInfo p,
  .copyrights p {
    font-size: 1rem;
  }
  .footerCompany {
    display: none;
  }
  .footerMapImage {
    display: flex;
    justify-content: center;
  }
  .footerMapImage img {
    width: 100%;
  }
}
